@import url('https://fonts.googleapis.com/css?family=Dosis|Sacramento&display=swap');

body {
    font-family: 'Dosis', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #3cea111c;
}

header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #41da25 3px solid;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header a:hover {
    color: #41da25;
}

header a i {
    margin-right: 0.5rem;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}


header .branding {
    float: left;
}

header .branding h1 {
    margin: 0;
}

header .branding h1 .bi-color {
    color: #41da25;
}

header .branding h1 .cursive {
    font-family: 'Sacramento', cursive;
    color: white;
}

header nav {
    float: right;
    margin-top: 10px;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    color: #35424a;
}

ul {
    padding: 0;
    margin: 0;
}

.page-title {
    text-align: center;
    font-size: 2.5rem;
}

h3.date,
.production {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 0;
}

.production .qty {
    font-size: 2.5rem;
    margin-top: 0;
}

.production p {
    margin-top: 0;
}

.plot {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}

.plot .plot-side {
    flex: 1;
    text-align: center;
}

.plot .main-plot {
    flex: 5;
    text-align: center;
}

.plot .plot-side a .fa {
    color: #35424a;
}

.plot .plot-side a:hover .fa {
    color: #41da25;
}