<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <meta name="description" content="Fotovoltaico Scandella">
        <meta name="keywords" content="tools, python, photovoltaic, raspberry">
        <meta name="author" content="Davide Scandella">
        <title>{% if title %}{{ title }} - Fotovoltaico{% else %}Fotovoltaico{% endif %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">
        {% block style %}{% endblock %}
    </head>
    <body>
        <header>
            <div class="container">
                <div class="branding">
                    <h1><span class="bi-color">Fotovoltaico</span> <span class="cursive">Scandella</span></h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('index') }}"><i class="fa fa-dashboard fa-fw"></i>Home</a></li>
                        <li><a href="{{ url_for('daily') }}"><i class="fa fa-bar-chart-o fa-fw"></i>Giornaliero</a></li>
                        <li><a href="{{ url_for('monthly') }}"><i class="fa fa-bar-chart-o fa-fw"></i>Mensile</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="container">
            {% block app_content %}
            {% endblock %}
        </div>
        {% block scripts %}
        {% endblock %}
    </body>
</html>