{% extends "base.html" %}

{% block app_content %}
        <div>
            <h1 class="page-title">Statistiche</h1>
        </div>

        <div class="cards-grid">
            <div class="card">
                <i class="fa fa-plug fa-5x"></i>
                <div class="prop-1">Potenza Attuale {{ grid_power }} W</div>
                <div class="prop-2">Picco di Potenza Oggi {{ pwr_peak_td }} W</div>
            </div>
            <div class="card">
                <i class="fa fa-bolt fa-5x"></i>
                <div class="prop-1">Energia Prodotta Oggi {{ nrg_td }} kWh</div>
                <div class="prop-2">Energia Ultimi 7 Giorni {{ nrg_7days }} kWh</div>
            </div>
            <div class="card">
                <i class="fa fa-lightbulb-o fa-5x"></i>
                <div class="prop-1">Energia Prodotta {{ year }} {{ nrg_current_year }} kWh</div>
                <div class="prop-2">Totale Energia Prodotta {{ nrg_total }} kWh</div>
            </div>
            <div class="card">
                <i class="fa fa-usd fa-5x"></i>
                <div class="prop-1">Incentivi {{ year }} {{ incent_current_year }} €</div>
                <div class="prop-2">Incentivi Ultimi 7 Giorni {{ incent_7days }} €</div>
            </div>
            <div class="card">
                <i class="fa fa-clock-o fa-5x"></i>
                <div class="prop-1">Tempo Operativo {{ operating_time }} giorni</div>
                <div class="prop-2">Incentivi Ultimi 7 Giorni {{ incent_7days }} €</div>
            </div>
        </div>
{% endblock %}