<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="Davide Scandella" />

    <title>Fotovoltaico Scandella - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link
      href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

    <!-- Custom styles for this template-->
    <link
      href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}"
      rel="stylesheet"
    />
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <nav
            class="
              navbar navbar-expand navbar-light
              bg-white
              topbar
              mb-4
              static-top
              shadow
            "
          >
            <a class="navbar-brand" href="#">
              <i class="fas fa-home mr-2"></i>
              Fotovoltaico Scandella</a
            >
          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row">
              <div class="col">
                <h1 class="h3 mb-3 text-gray-800">Dashboard</h1>
              </div>
              <div class="col-auto">
                <span id="lastUpdate" class="mr-2 align-middle"></span>
                <a id="refreshStats" class="text-gray-800 align-middle">
                  <i class="fas fa-sync fa-2x"></i
                ></a>
              </div>
            </div>

            <!-- Content Row -->
            <div class="row justify-content-center">
              <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="
                            text-xs
                            font-weight-bold
                            text-primary text-uppercase
                            mb-1
                          "
                        >
                          Potenza
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          <div class="d-flex justify-content-between">
                            <div>Attuale</div>
                            <div class="mr-2">
                              <span id="latestPower"></span> W
                            </div>
                          </div>
                          <div class="d-flex justify-content-between">
                            <div>Picco Odierno</div>
                            <div class="mr-2">
                              <span id="peakValue"></span> W
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="
                            text-xs
                            font-weight-bold
                            text-primary text-uppercase
                            mb-1
                          "
                        >
                          Energia
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          <div class="d-flex justify-content-between">
                            <div>Giorno</div>
                            <div class="mr-2">
                              <span id="dayEnergy"></span> kWh
                            </div>
                          </div>
                          <div class="d-flex justify-content-between">
                            <div>Mese</div>
                            <div class="mr-2">
                              <span id="monthEnergy"></span> kWh
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="
                            text-xs
                            font-weight-bold
                            text-primary text-uppercase
                            mb-1
                          "
                        >
                          Energia
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          <div class="d-flex justify-content-between">
                            <div>Anno</div>
                            <div class="mr-2">
                              <span id="yearEnergy"></span> kWh
                            </div>
                          </div>
                          <div class="d-flex justify-content-between">
                            <div>Totale</div>
                            <div class="mr-2">
                              <span id="totalEnergy"></span> kWh
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="
                            text-xs
                            font-weight-bold
                            text-primary text-uppercase
                            mb-1
                          "
                        >
                          Incentivi
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          <div class="d-flex justify-content-between">
                            <div>Mese</div>
                            <div class="mr-2">
                              <span id="monthIncentives"></span> €
                            </div>
                          </div>
                          <div class="d-flex justify-content-between">
                            <div>Anno</div>
                            <div class="mr-2">
                              <span id="yearIncentives"></span> €
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="
                            text-xs
                            font-weight-bold
                            text-primary text-uppercase
                            mb-1
                          "
                        >
                          Attività
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          <div class="d-flex justify-content-between">
                            <div>Giorni</div>
                            <div class="mr-2">
                              <span id="daysActivity"></span>
                            </div>
                          </div>
                          <div class="d-flex justify-content-between">
                            <div>Anni</div>
                            <div class="mr-2">
                              <span id="yearsActivity"></span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Content Row -->
            <div class="row">
              <!-- Histogram Monthly -->
              <div class="col-lg-6">
                <div class="card shadow mb-4">
                  <!-- Card Header - Dropdown -->
                  <div
                    class="
                      card-header
                      py-2
                      d-flex
                      flex-row
                      align-items-center
                      justify-content-between
                    "
                  >
                    <h6 class="m-0 font-weight-bold text-primary">
                      Giornaliero
                    </h6>
                    <a id="refreshDaily" class="ml-auto mr-2 text-primary"
                      ><i class="fas fa-sync"></i
                    ></a>
                    <div>
                      <input
                        class="form-control"
                        type="date"
                        value="{{ today_date.strftime('%Y-%m-%d') }}"
                        id="day-input"
                      />
                    </div>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <div class="chart-area">
                      <canvas id="dailyHistogram"></canvas>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Histogram Monthly -->
              <div class="col-lg-6">
                <div class="card shadow mb-4">
                  <div
                    class="
                      card-header
                      py-3
                      d-flex
                      flex-row
                      align-items-center
                      justify-content-between
                    "
                  >
                    <h6 class="m-0 font-weight-bold text-primary">
                      Temperature
                    </h6>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <div class="chart-area">
                      <canvas id="temperaturePlot"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-12">
                <div class="card shadow mb-4">
                  <div
                    class="
                      card-header
                      py-2
                      d-flex
                      flex-row
                      align-items-center
                      justify-content-between
                    "
                  >
                    <h6 class="m-0 font-weight-bold text-primary">Mensile</h6>
                    <div class="ml-auto">
                      <input
                        class="form-control"
                        type="month"
                        value="{{ today_date.strftime('%Y-%m') }}"
                        id="month-input"
                      />
                    </div>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <div class="chart-area">
                      <canvas id="monthlyHistogram"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- Plot Yearly -->
              <div class="col-lg-6">
                <div class="card shadow mb-4">
                  <div
                    class="
                      card-header
                      py-3
                      d-flex
                      flex-row
                      align-items-center
                      justify-content-between
                    "
                  >
                    <h6 class="m-0 font-weight-bold text-primary">Annuale</h6>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <div class="chart-area">
                      <canvas id="yearlyPlot"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card shadow mb-4">
                  <div
                    class="
                      card-header
                      py-3
                      d-flex
                      flex-row
                      align-items-center
                      justify-content-between
                    "
                  >
                    <h6 class="m-0 font-weight-bold text-primary">
                      Annuale Cumulativo
                    </h6>
                  </div>
                  <!-- Card Body -->
                  <div class="card-body">
                    <div class="chart-area">
                      <canvas id="yearlyCumPlot"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Davide Scandella 2021</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

    <!-- Page level plugins -->
    <script src="{{ url_for('static', filename='vendor/chart.js/Chart.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename='js/pv_stats.js') }}"></script>
    <script src="{{ url_for('static', filename='js/charts/chart-hist-daily.js') }}"></script>
    <script src="{{ url_for('static', filename='js/charts/chart-hist-monthly.js') }}"></script>
    <script src="{{ url_for('static', filename='js/charts/chart-plot-yearly.js') }}"></script>
    <!-- <script src="{{ url_for('static', filename='js/demo/chart-pie-demo.js') }}"></script> -->
  </body>
</html>
